@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background: #10183a;
    color: #ace;
    font: normal 18px/1.2 "Red Hat Display", sans-serif;
}

body {
    padding: 30px;
    padding-bottom: 0px;
    overflow-x: hidden;
}

body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.everything {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

/* Add a media query to disable max-width for mobile and smaller screens */
@media screen and (max-width: 600px) {
    .everything {
        margin-left: 0px;
        margin-right: 0px;
        max-width: none;
    }
}

h1 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 22px;
}

h3 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.p-indented {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 42px;
    line-height: 1.3;
}

ul {
    list-style-type: none;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff0;
}

li {
    color: #fff;
    margin-bottom: 2px;
}

.good {
    color: #ff0;
}

.greenish {
    color: #AAEEAA;
}

.brownish {
    color: #EECCAA;
}

.section {
    margin-top: 26px;
}

.drop {
    margin-bottom: 18px;
}

.section-content {
    color: #fff;
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 1.3;
}

hr {
    border: none;
    border-top: 3px solid #ff0;
    margin-top: 26px;
    margin-bottom: 26px;
}